body{
  background-color: rgb(126, 119, 119);
}
.material{
  margin-left: 50%;
  width: 50%;
  display: flex;
  white-space: nowrap;
  color:white;
  margin-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Components{
  margin-left: 450%;
  color:rgb(245, 10, 81);
  cursor:pointer;
  margin-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Components:hover{
  color:rgb(6, 71, 83);
}
.Upgrading {
  margin-left: 410%;
  width: 50%;
  display: flex;
  white-space: nowrap;
  color:rgb(31, 94, 230);
  cursor:pointer;
  margin-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.Upgrading:hover{
  color:rgb(157, 239, 255);
}
.Downloading{
  margin-left: 560%;
  color:#3508ff;
  margin-top: 10px;
  cursor:pointer;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Downloading:hover{
  color:rgb(26, 109, 126);
}

.half-background {
  background-color: rgb(5, 0, 36); 
  height: 101vh; 
  display: flex;
  flex-direction: column; 
  color: white; 
}
.cards{
margin-top:-70px;
margin-left: 5px;

}
.img {
  text-align: center;
  position: absolute; 
  top: 0; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1; 
  padding-top: 20px;
}

.my-img {
  border-radius: 50%; 
  width: 140px; 
  height: 140px;
  object-fit: cover;
  border: 2px solid #fff; 
  z-index: 1;
  position: relative; 
  margin-top: 100px;
margin-left: -2px;

}
.title{
  margin-top: 65px;
  margin-left: -25px;
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.title2{
  margin-left: -30px;
  margin-top: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}
.icons{
  width: 10%; 
  display: flex;
  justify-content: space-around;
margin-left:43%;
margin-top:10px;
}
.icons{
 
  color:rgb(17, 98, 190);

}
.description{
margin-left: 300px;
margin-top:30px;
margin-right: 300px;
}
.icons:hover{
  color:grey;
}
.icon{
  width: 20%; 
  display: flex;
  justify-content: space-evenly;
margin-left:39%;
margin-top:25px;
cursor: pointer;
}
.social-ic{
  color:rgb(23, 231, 134);
}

 .term1{
  text-decoration: none;

  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.term2{
  width: 10%; 
  display: flex;
font-weight: bold;
margin-left:15%;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.term3{
  width: 10%; 
  display: flex;
font-weight: bold;
margin-left:4%;

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social-ic:hover{
  color: palevioletred;
}
.switch-button{
  margin-top:-485px;
  margin-left: 80%;
  background-color:  rgb(15, 6, 109);
  border:#3508ff;
  border-radius: 5%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

